{% extends "layout.html" %}

{% block title %}
    Home Page
{% endblock %}

{% block body %}
<div class="main-dashboard">
    <nav class="navbar navbar-default" style="margin-top:30px">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapse" aria-expanded="false" aria-controls="navbar">
                    </button>
                    <a class="navbar-brand">Suggestion Box</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#">Welcome</a></li>
                        <li><a href="/">Home</a></li>
                        <li><a href="/auth/login">Log In</a> </li>
                    </ul>
                </div>
            </div>
    </nav>
    <div class="content-section">
        <p></p>
    </div>
</div>
{% endblock %}