{% extends "layout.html "%}

{% block title %}
    Reactions Page
{% endblock %}

{% block body %}
    <div class="main-dashboard">
        <nav class="navbar navbar-default" style="margin-top:30px">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapse" aria-expanded="false" aria-controls="navbar">
                    </button>
                    <a class="navbar-brand">Suggestion Box</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#">Welcome</a></li>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Log Out</a> </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="page-header">
            {% if suggest|length > 0 %}
            {% for sugtitle in suggest %}
                <h3>{{ sugtitle['title'] }}<span> </span>Suggestion</h3>
            {% endfor %}
            {% endif %}

            {% with messages = get_flashed_messages() %}
              {% if messages %}
                <ul class=flashes>
                {% for message in messages %}
                  <li>{{ message }}</li>
                {% endfor %}
                </ul>
              {% endif %}
            {% endwith %}
        </div>
        <div class="row grid-divider">
            <div class="col-sm-4">
                <div class="col-padding">
                    <h3>Description: </h3>
                    <p>
                        {% if suggest|length > 0 %}
                        {% for sgt in suggest %}
                        <h2>{{ sgt['description'] }}</h2>
                        {% endfor %}
                        {% endif %}

                    </p>
                </div>
            </div>
            <form role="form" action="/reactions" method="POST">
            <div class="col-sm-4">
                    <div class="col-padding">
                        <h3>React To Suggestion: </h3>

                        <input type="hidden" value="{{ suggest[0]['board_id'] }}" name="suggest_id">
                        <p>
                            <label class="input-checkbox">
                                <input type="checkbox" name="upvoting"/>
                                <span class="upvoting"><i class="fa fa-thumbs-o-up" style="font-size: 35px"></i>  Do you like this Suggestion? (then up its voting)</span><br/>
                            </label>
                        </p>
                        <p>
                            <label class="input-checkbox">
                                <input type="checkbox" name="downvoting"/>
                                <span class="downvoting"><i class="fa fa-thumbs-o-down" style="font-size: 35px"></i> Do you dislike this Suggestion? (then downvote it)</span><br/>
                            </label>
                        </p>

                        <p>
                            <label class="input-checkbox">
                                <input type="checkbox" name="flagging">
                                <span class="flagging"><i class="fa fa-flag-o" style="font-size: 35px"></i>Do you find this Suggestion Offensive? (then flag it offensive)</span><br/>
                            </label>
                        </p>
                    </div>
            </div>
            <div class="col-sm-4">
                <div class="col-padding">
                    <h3>Leave Comment:</h3>
                    <textarea class="form-control" rows="10" id="comments-area" style="width:100%" name="comments-area"></textarea>
                </div>
                <button type="submit" class="pull-right btn btn-success" style="margin-top:12px; margin-right:12px;">Post Reaction</button>
            </div>
        </form>
        <hr/>
        </div>
        <div class="row post-comments">
            <h3>People's Reaction to this Post: </h3>
            {% if reactions|length > 0 %}
            {% for rct in reactions %}
                <h6 style="margin-top:12px;">{{ rct['comment'] }} by ---------><b> {{ rct['author'] }}</b></h6>
            {% endfor %}
            {% endif  %}
        </div>
    </div>
{% endblock %}